<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <!--    「テストスイート」というテストをグルーピングするためのリストです。-->
    <!--    それぞれの testsuite タグにある name 属性に書かれた文字列がテストスイート名で、これを実行時に下記のように指定すると、-->
    <!--    それぞれ directory タグで指定した条件に一致するテストのみを実行するようにできます。-->
    <!--    # php artisan test &#45;&#45;testsuite=Unit-->

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <!--    filter - whitelist-->
    <!--    カバレッジ計測の対象を directory タグで指定したディレクトリのみに限定します。-->

    <!--    php - server-->
    <!--    実行時に PHP の特殊変数 $_SERVER にキーと値のペアを登録します。-->
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="mysql_testing"/>
        <server name="DB_DATABASE" value="learning_laravel_tdd_testing"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
        <!--        <env name="DB_TEST_DATABASE" value="testing" />-->
    </php>
</phpunit>
